.options {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
  }

  .PIDgraph {
    position: absolute;
    height: 50%;
    right:0;
    top:1;
    margin-top: 75px
}